<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="csrf-token" content="<%=_csrf%>">
	<title>Forecast.io</title>
	<link href="/alpha/vendors/animate-css/animate.min.css" rel="stylesheet">
    <link href="/alpha/vendors/sweet-alert/sweet-alert.min.css" rel="stylesheet">
    <link href="/alpha/vendors/material-icons/material-design-iconic-font.min.css" rel="stylesheet">
        
    <!-- CSS -->
    <link href="/alpha/css/app.min.1.css" rel="stylesheet">
    <link href="/alpha/css/app.min.2.css" rel="stylesheet">


    <link href="/api/css/forecastio.css" rel="stylesheet">
</head>

<body>
	<%- include ../partials/aheader.ejs %>
	<section id="content">
		<div class="container">

		<input type="text" name="location" id="location" autocomplete="false" placeholder="Location"/>

		<form id="targetForm" method="get" class="form-inline">
			<div class="form-group">
    			<input type="text" name="lat" id="lat" placeholder="Latitude" class="form-control"/>
				<input type="text" name="lon" id="lon" placeholder="Longitude" class="form-control"/>

				<button type="submit" id="submit" class="btn btn-default">Fetch data</button>
    			
			</div>
		</form>

		<% if(data) {%>
			<div>
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<% if(data.minutely) {%>
						<li role="presentation" class="active"><a href="#minutely" aria-controls="minutely" role="tab" data-toggle="tab">Minutely</a></li>
					<% } %>
					<% if(data.hourly) {%>
						<li role="presentation"><a href="#hourly" aria-controls="profile" role="tab" data-toggle="tab">Hourly</a></li>
					<% } %>
					<% if(data.weekly) {%>
						<li role="presentation"><a href="#weekly" aria-controls="messages" role="tab" data-toggle="tab">Weekly</a></li>
					<% } %>
					<% if(data.daily) {%>
						<li role="presentation"><a href="#daily" aria-controls="messages" role="tab" data-toggle="tab">Daily</a></li>
					<% } %>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<% if(data.minutely) {%>
						<div role="tabpanel" class="tab-pane active" id="minutely">
							<table class="table table-striped">
								<thead>
									<tr>
										<td> <b> Time </b> </td>
										<td> <b> Temperature </b> </td>
										<td> <b> Humidity </b> </td>
										<td> <b> Pressure </b> </td>
									</tr>
								</thead>
								<% for(var i=0; i<data.minutely.data.length; i++) { %>
									<tr> 
										<td> <%= data.minutely.data[i].time %> </td>
										<td> <%= data.minutely.data[i].temperature %></td>
										<td> <%= data.minutely.data[i].humidity %></td>
										<td> <%= data.minutely.data[i].pressure %></td>
									</tr>
								<% } %>
							</table>
						</div>
					<% } %>
					<% if(data.hourly) {%>
						<div role="tabpanel" class="tab-pane" id="hourly">
							<table class="table table-striped">
								<thead>
									<tr>
										<td> <b> Time </b> </td>
										<td> <b> Temperature </b> </td>
										<td> <b> Humidity </b> </td>
										<td> <b> Pressure </b> </td>
									</tr>
								</thead>

								<% for(var i=0; i<data.hourly.data.length; i++) { %>
									<tr> 
										<td> <%= data.hourly.data[i].time %> </td>
										<td> <%= data.hourly.data[i].temperature %></td>
										<td> <%= data.hourly.data[i].humidity %></td>
										<td> <%= data.hourly.data[i].pressure %></td>
									</tr>
								<% } %>
							</table>
						</div>
					<% } %>				
					<% if(data.weekly) {%>
						<div role="tabpanel" class="tab-pane" id="weekly">						
							<table class="table table-striped">
								<thead>
									<tr>
										<td> <b> Time </b> </td>
										<td> <b> Temperature </b> </td>
										<td> <b> Humidity </b> </td>
										<td> <b> Pressure </b> </td>
									</tr>
								</thead>

								<% for(var i=0; i<data.weekly.data.length; i++) { %>
									<tr> 
										<td> <%= data.weekly.data[i].time %> </td>
										<td> <%= data.weekly.data[i].temperature %></td>
										<td> <%= data.weekly.data[i].humidity %></td>
										<td> <%= data.weekly.data[i].pressure %></td>
									</tr>
								<% } %>
							</table>
						</div>
					<% } %>		
					<% if(data.daily) {%>
						<div role="tabpanel" class="tab-pane" id="daily">						
							<table class="table table-striped">
								<thead>
									<tr>
										<td> <b> Time </b> </td>
										<td> <b> Humidity </b> </td>
										<td> <b> Pressure </b> </td>
									</tr>
								</thead>
								<% for(var i=0; i<data.daily.data.length; i++) { %>
									<tr> 
										<td> <%= data.daily.data[i].time %> </td>
										<td> <%= data.daily.data[i].humidity %></td>
										<td> <%= data.daily.data[i].pressure %></td>
									</tr>
								<% } %>
							</table>
						</div>
					<% } %>
				</div>

			</div>
		<% } %>
	</div>
	</section>

	<%- include ../partials/afooter.ejs %>
    <script src="/alpha/js/jquery-2.1.1.min.js"></script>
    <script src="/alpha/js/bootstrap.min.js"></script>
    
    <script src="/alpha/vendors/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="/alpha/vendors/auto-size/jquery.autosize.min.js"></script>
    <script src="/alpha/vendors/waves/waves.min.js"></script>
    <script src="/alpha/vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
    <script src="/alpha/vendors/sweet-alert/sweet-alert.min.js"></script>
    <script src="/alpha/js/functions.js"></script>
    <script src="/alpha/js/demo.js"></script>  
                
	<script type="text/javascript" src="/api/js/forecastio.js"></script>
	</body>
</html>